.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding);

}

/* بخش معرفی */
.card--intro {
  background-color: #fff;
  margin-top: 0;
}
.card__header{

  margin-top: 0;
}

.card--intro .card__title {
  color: var(--clr-primary);
  font-size: var( --font-size-base1);
  padding: 2rem;
 padding-left: 0;
}

.card--intro .card__subtitle {
  color: var(--clr-secondary);
    font-size: var( --font-size-base);
}

.card--intro .card__text {
  color: var(--clr-grayish-blue);
  line-height: 1.6;
}

/* بخش اشتراک */
.card--subscription {
  background-color: var(--clr-primary, var(--clr-primary-fallback));
  color: #fff;
  padding: 0;
}

.card--subscription .card__price {
  display: flex;
  /* align-items: center; */
   align-items: stretch;
  gap: 1rem;
  padding: var(  --padding);
   padding-left: 0;
   padding-bottom: 0;
}

.card__text1{
  padding-bottom: var(  --padding);
   padding-left: 0;
   padding-top: 0;
}

.card--subscription .card__amount {
  font-size: 3rem;
  font-weight: 700;
}

.card--subscription .card__period {
  opacity: 0.8;
}

/* دکمه کشیده */
.card--subscription .btn--primary {
  /* align-self: stretch; */
  width:100%;
  background-color: var(--clr-secondary) ;
  padding:2rem;
  color:inherit;
   font-size: 2rem;
}


/* بخش چرا ما */
.card--why {
  background-color: hsl(179, 62%, 47%);
  color: #fff;
}

.card--why .card__list {
  line-height: 1.8;
  opacity: 0.9;
}



